@page
@model LiveMessenger.Pages.ChangeUsernameModel;
@{
    ViewData["Title"] = "Ändra användarnamn";
}

@section Links {}

<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form id="theForm" method="POST" class="form-container">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold">Välj Användarnamn</h4>
                    <label for="username">Användarnamn</label>
                    <input class="form-control" type="text" placeholder="Användarnamn" class="fadeIn second"
                        id="username" maxlength="15" name="username" required />
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Bekräfta
                </button>
            </form>
        </section>
    </section>
</section>
