@page
@model LiveMessenger.Pages.ChangeUsernameModel;
@{
    ViewData["Title"] = "Ändra användarnamn";
}

<form class="col-4 mx-auto my-5 d-block d-flex flex-column justify-content-center" style="color: #004e7c;"
    method="POST">
    <legend class="text-center"><b>Välj Användarnamn</b></legend>
    <div class="mb-3">
        <label for="roomusernameName" class="form-label"><b>Användarnamn</b></label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Användarnamn" maxlength="15" required>
    </div>
    <button type="submit" class="btn btn-primary w-50 mx-auto mt-2" style="background-color: #004e7c;">Bekräfta</button>
</form>
