@page
@model LiveMessenger.Pages.ChatModel
@{
    ViewData["Title"] = "Chatt";
}

<h1>Cool Chat room</h1>

@foreach (var message in @Model.previousMessages)
    {<li>@message.GetElement("Message").Value</li>}

<script src="~/js/chat.js" asp-append-version="true"></script>

