@page
@model LiveMessenger.Pages.CreateRoomModel
@{
    ViewData["Title"] = "Skapa rum";
}

<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form id="theForm" method="POST" class="form-container">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold">Skapa ett rum</h4>
                    <label for="roomName">Rumsnamn</label>
                    <input class="form-control" type="text" placeholder="Rumsnamn" class="fadeIn second" id="roomName" maxlength="15"
                        name="roomName" required />
                </div>
                <div class="form-group">
                    <label for="description">Beskriving</label>
                    <input class="form-control" class="fadeIn third" type="text" placeholder="Beskrivning" maxlength="50"
                        name="description" id="description" required/>
                </div>
                <div class="form-check">
                    <input type="checkbox" onclick="privateRoom()" class="form-check-input" id="privateRoomCheck">
                    <label class="form-check-label" for="privateRoomCheck">Privat rum</label>
                </div>
                <div class="form-group" id="private" hidden>
                    <label for="password">Lösenord</label>
                    <input class="form-control" type="password" placeholder="Lösenord" class="fadeIn third" maxlength="100"
                        id="password" name="password"/>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Skapa ett rum
                </button>
            </form>
        </section>
    </section>
</section>

<script>
    function privateRoom() {
        let privateRoom = document.getElementById("private");
        if (document.getElementById("privateRoomCheck").checked) {
            privateRoom.hidden = false
        } else {
            privateRoom.hidden = true
            document.getElementById("password").value = ""
        }
    }
</script>