@page
@using LiveMessenger.Pages
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username!</h1>

    @foreach (var room in @Model.Rooms)
    {
        <a href="/Chat?id=@room.GetElement("_id").Value">@room.GetElement("Name").Value</a>
    }
</div>
