@page
@using LiveMessenger.Pages
@model PasswordCheckModel
@{
    ViewData["Title"] = "Lösenord";
}
@section Links {}

<form class="col-sm-12 col-md-4 mx-auto my-5 d-block d-flex flex-column justify-content-center" style="color: #004e7c;"
    method="POST">
    

    <legend class="text-center"><b>Rummet <i>@Model.room.GetElement("Name").Value</i> är privat!</b><br><small>Vänligen skriv in lösenordet</small></legend>
    <div class="mb-3">
        <label for="password" class="form-label"><b>Lösenord</b></label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Lösenord" maxlength="69"
            required>
    </div>
    <button type="submit" class="btn btnColor btn-primary w-50 mx-auto mt-2">Bekräfta</button>
</form>
