@page
@using LiveMessenger.Pages
@model PasswordCheckModel
@{
    ViewData["Title"] = "Lösenord";
}

<div class="text-center">
    <h1>tjo bre</h1>
    <form id="passwordForm" method="POST">
        <label for="password">Lösenord</label>
        <input type="password" name="password" id="password" maxlength="69">
        <button type="submit">Okej</button>
    </form>
</div>
